.seccion {
    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.mostrar {
    display: flex;
    flex-direction: column;
    h2 {
        margin: 0;
    }
}
.ocultar {
   visibility: hidden;
}